<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a rel="home" href="/" title="Mini Mailbox">
                <img style="max-width:100px; padding-top: 5px;"
                     src="/images/brand.png">
         </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            <%if session[:current_user] %>
                <li>
                    <a href="/received"><i class="fa fa-inbox fa-fw"></i> Tin nhắn</a>
                </li>
                <li>
                    <a href="/new-friend"><i class="fa fa-user fa-fw"></i> Người dùng</a>
                </li>
            <%else%>
                <li>
                    <a href="/about"><i class="fa fa-group fa-fw"></i> Về chúng tôi</a>
                </li>
            <%end%>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>