

          <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Tin nhắn</h3>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/received"><i class="fa fa-inbox"></i> Tin nhắn mới
                <span class="label label-primary pull-right"></span></a></li>
              <li><a href="/sent"><i class="fa fa-envelope-o"></i> Tin đã gửi</a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /. box -->
        <div class="box box-solid">
         <div class="box-header with-border">
            <h3 class="box-title">Bạn bè</h3>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">

            <li><a href="/new-friend"><i class="fa fa-search"></i> Tìm kiếm bạn mới</a></li>
            <li><a href="/friend"><i class="fa fa-user-o"></i> Danh sách bạn</a></li>
            <li><a href="/banned"><i class="fa fa-ban"></i> Danh sách cấm</a></li>
            </ul>
          </div>
          <!-- /.box-body --> 
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>