

          <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Quản lý thư</h3>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/mailbox"><i class="fa fa-inbox"></i> Hộp thư đến
                <span class="label label-primary pull-right"></span></a></li>
              <li><a href="/sentbox"><i class="fa fa-envelope-o"></i> Thư đã gửi</a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /. box -->
        <div class="box box-solid">
         <div class="box-header with-border">
            <h3 class="box-title">Danh sách bạn</h3>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">

              <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i></a></li>

            </ul>
          </div>
          <!-- /.box-body --> 
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>