
<div class="wthree-dot" style="margin-top: 7%;">
<h1 style="color: #23527c;">Đăng nhập</h1>
<div class="profile">
    <div class="wrap">
        <div class="content-main">
            <div class="w3ls-subscribe w3ls-subscribe1">

                
                    <%= form_with scope: :session, local: true do |f|%>

                    <%= f.email_field :email,  placeholder:"Nhập email của bạn" , required: "required"%>

                    <%= f.password_field :password, placeholder:"Nhập mật khẩu", required: "required"%>

                    <input type="submit" class="btn btn-success btn-lg"  value="Đăng nhập">
                <%end%>
                <br />
                <% if flash[:error] %>
                    <div class="alert alert-danger">
                        <%= flash[:error] %>
                    </div>
                <% end %>
                
            </div>

        </div>
        <div class="wthree_footer_copy">
                <a href="/signup" ><i class="fa fa-user-plus fa-fw"></i> <span class="network-name">Đăng ký tài khoản mới</span></a>
        </div>
    </div>
</div>
</div>
