
<div class="wthree-dot" style="margin-top: 7%;">
<h1 style="color: #23527c;">Đăng nhập</h1>
<div class="profile">
    <div class="wrap">
        <div class="content-main">
            <div class="w3ls-subscribe w3ls-subscribe1">
                <form action="/login" method="post">
                    <input type="email" name="email" placeholder="Nhập email của bạn" required />
                    <input type="password" name="password" placeholder="Nhập password của bạn" required />
                    <input type="submit" class="btn btn-success btn-lg"  value="Đăng nhập">
                    <a href="/auth/facebook" class="btn btn-primary btn-lg"><span class="fa fa-facebook"></span> Facebook</a>
                </form>
                <br>
                
                    <div class="alert alert-danger"></div>
                
            </div>

        </div>
        <div class="wthree_footer_copy">
                <a href="/signup" ><i class="fa fa-user-plus fa-fw"></i> <span class="network-name">Đăng ký tài khoản mới</span></a>
        </div>
    </div>
</div>
</div>
